    <section class="py-5 text-center container-sm " style="border-bottom: black solid 1px;">
      <div class="row py-lg-5 ">
        <div class="d-inline-block col-lg-4 col-md-4 d-flex justify-content-center ">
          <img src="rainbow-min.png" alt="rainbow" class="img-fluid align-self-center">
        </div>
        <div class="col-lg-8 col-md-8  d-inline-block " >
          <h1 class="fw-normal">The easiest place to analyse colors from your images!</h1>
          <p class="lead text-muted">Create the perfect palette from your favorite images</p>
          <p >
            <a href="/upload" class="btn btn-primary my-2">Upload an image</a>
            <a href="#index" class="btn btn-secondary my-2">Explore all images</a>
          </p>
        </div>
      </div>
    </section>
