  <div class="form-row ">
    <div class="col-md-4  input-group mt-3 mb-3">
      <span class="input-group-text" >Username:</span>
      <input type="text" class ="form-control" id="username" name="username" autofocus value="<%= username%>"  />
    </div>
    <div class="col-md-4  input-group mt-3 mb-3">
      <span class="input-group-text" >Password:</span>
      <input type="password" class ="password" id="password" name="password"/>
      </div>
    </div>
    <input class="btn btn-outline-secondary" style="margin-top: 1.6e margin-bottom: 1.6em" type="submit" value="Submit">