<%- include('header', {title: `Upload`}); -%>
  <body>
   <%- include('nav', locals.numVisitors); -%>
   <div class='container col-12 col-md-8 col-lg-6 col-xl-4 -bg-light border mt-4  justify-content-center '>
      <%-include('image-card', locals.imageSrc, locals.createdat, locals.baseHarmony, locals.hue, locals.harmonies, locals.harmonicDiff, locals.colTemplates); -%>
   </div>
  </body>
</html>


