<%- include('header', {title: `Upload`}); -%>
  <body>
   <%- include('nav', locals.numVisitors); -%>
   <%-include('image-card', locals.imageSrc, locals.createdat, locals.baseHarmony, locals.hue, locals.harmonies, locals.harmonicDiff, locals.colTemplates); -%>
  </body>
</html>


