<%- include('header', {title: `Upload`}); -%>
  <body >
   <%- include('nav', locals.numVisitors); -%>
    <form action="/uploadjpg" method="post" enctype="multipart/form-data">
            <label for="category">Category:</label><br />
      <input type="text" id="category" name="category" /><br />
      <label for="photo">Image:</label><br />
      <input type="file" name="photo" accept="image/jpeg">

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
