body {
  /* background-color: white; */
  background-color: #e0ded6;
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: "Ubuntu", sans-serif; */
}

.swatch {
  /* display: inline-block; */
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  /* width: 2.85rem;
  height: 2.85rem; */
  text-align: center;
  color: transparent;
}

@media only screen and (max-width: 320px) {
  .swatch {
    /* width: 3rem;
    height: 3rem; */
    width: 2.85rem;
    height: 2.85rem;
  }
}

.swatch-text {
  color: transparent;
  font-size: 0.7em;

  display: inline-block;
  margin: 1rem 1rem 1rem 0.1rem;
  cursor: pointer;
}

.swatch-text:hover {
  color: transparent;
}

.swatch-text:target {
  color: black;
}
/* img {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
} */

.tooltip.bottom,
.tooltip-inner {
  font-size: 0.7rem;
  background-color: dimgray;
  color: gold;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: dimgray; /* Red */
}

input[type="range"] {
  outline: 0;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  /* display: inline-block; */
  /* margin: 0 auto; */
  -webkit-appearance: none;
  width: 190px;
  /* flex-shrink: 1; */
  height: 8px;
  background: linear-gradient(
    to right,
    hsl(0, 100%, 70%) 0%,
    hsl(30, 100%, 70%) 8.3%,
    hsl(60, 100%, 70%) 16.6%,
    hsl(90, 100%, 70%) 25%,
    hsl(120, 100%, 70%) 33.3%,
    hsl(150, 100%, 70%) 41.6%,
    hsl(180, 100%, 70%) 50%,
    hsl(210, 100%, 70%) 58.3%,
    hsl(240, 100%, 70%) 66.6%,
    hsl(270, 100%, 70%) 75%,
    hsl(300, 100%, 70%) 83.3%,
    hsl(330, 100%, 70%) 91.6%,
    hsl(360, 100%, 70%) 100%
  );
  /* background: linear-gradient(
    to right,
    hsl(0, 100%, 88%) 0%,
    hsl(30, 100%, 88%) 8.3%,
    hsl(60, 100%, 88%) 16.6%,
    hsl(90, 100%, 88%) 25%,
    hsl(120, 100%, 88%) 33.3%,
    hsl(150, 100%, 88%) 41.6%,
    hsl(180, 100%, 88%) 50%,
    hsl(210, 100%, 88%) 58.3%,
    hsl(240, 100%, 88%) 66.6%,
    hsl(270, 100%, 88%) 75%,
    hsl(300, 100%, 88%) 83.3%,
    hsl(330, 100%, 88%) 91.6%,
    hsl(360, 100%, 88%) 100%
  ); */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-body {
  /* background-color: yellow; */
}
.rainbow-text {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(
    -145deg,
    /* hsl(0 80% 50%),
    hsl(30.942 100% 37.268%),
    hsl(45.617 100% 32.426%), */
      hsl(62.599 100% 28.853%),
    hsl(90 50% 45%),
    hsl(90 50% 45%),
    hsl(160.76 100% 32.755%),
    hsl(179.62 100% 30.893%),
    hsl(191.74 100% 36.32%),
    hsl(210 80% 55%),
    hsl(210 80% 55%),
    hsl(255.77 69.1% 67.1%),
    hsl(309.27 60.619% 54.117%),
    hsl(329.85 100% 44.736%),
    hsl(0 80% 50%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  /* background-color: #04aa6d; */
  color: #6c757d;
  background: linear-gradient(
    to right,
    hsl(0, 100%, 88%) 0%,
    hsl(210, 100%, 88%) 58.3%
  );
  /* background-image: -webkit-linear-gradient(
    0deg,
    hsl(0 80% 50%),
    hsl(30.942 100% 37.268%),
    hsl(45.617 100% 32.426%),
    hsl(62.599 100% 28.853%),
    hsl(90 50% 45%),
    hsl(90 50% 45%),
    hsl(160.76 100% 32.755%),
    hsl(179.62 100% 30.893%),
    hsl(191.74 100% 36.32%),
    hsl(210 80% 55%),
    hsl(210 80% 55%),
    hsl(255.77 69.1% 67.1%),
    hsl(309.27 60.619% 54.117%),
    hsl(329.85 100% 44.736%),
    hsl(0 80% 50%)
  ); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
/* .btn-outline-secondary {
  border-color: #04aa6d;
  color: green;
}
.btn-outline-secondary:hover {
  background-color: #04aa6d;
  color: white;
} */
